.hideStep {
    display: none;
}

#step1, #step2, #step3 {

}

#firstStepContinueButton, #secondStepContinueButton, #thirdButtonContinueButton {
    float: right;
}

#secondStepBackButton, #thirdStepBackButton {
    float: left;
}

.clear {
    clear: both;
}